* {
    box-sizing: border-box;
    @apply font-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.vditor-reset iframe.iframe__video {
    height: 500px;
    width: 700px;
    border-radius: 5px;
}

.kazakh-font {
    font-family: "Scheherazade New", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
}

.vditor-reset a {
    text-decoration: underline !important;
}
